<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    RewriteRule ^admin/([^/]+)/([^/d]+)/([^/]+)/([^/d]+)/?$ admin/$1/$3/view?object=$2&target=$4 [L,QSA]
    RewriteRule ^admin/([^/]+)/([^/d]+)/([^/]+)/?$ admin/$1/$3?object=$2 [L,QSA]
    RewriteRule ^admin/([^/]+)/([^/d]+)/?$ admin/$1?object=$2 [L,QSA]

    RewriteRule ^(.*)/$ /$1 [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^ index.php [L]
</IfModule>
